@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif; }
  @media screen and (max-width: 600px) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff; }

.btn {
  border: none;
  outline: none; }

.overlay {
  background-image: linear-gradient(99.75deg, rgba(0, 0, 0, 0.58) 23.59%, rgba(0, 0, 0, 0) 102.03%);
  z-index: -500 !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.cta-btn {
  height: 5.3rem;
  width: 16.4rem;
  border-radius: 4rem;
  color: #1A4BA5;
  margin-top: 5vh;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.727);
  cursor: pointer;
  transition: all 0.5s; }
  .cta-btn:focus {
    box-shadow: none; }

.about-btn {
  color: #ffffff;
  font-size: 1.5rem;
  height: 4.8rem;
  width: 15.8rem;
  background-color: #1A4BA5;
  border-radius: 2px;
  margin-top: 3.1rem;
  cursor: pointer; }

.about-image {
  margin-right: 4.1rem; }

@media screen and (max-width: 600px) {
  .m-b {
    margin-bottom: 4rem; } }

.header {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.248);
  padding: 0 4.1rem;
  color: #ffffff;
  font-weight: 400; }
  .header__logo {
    flex: 0 0 auto;
    user-select: none;
    cursor: pointer; }
  .header__nav {
    flex: 0 0 auto;
    flex: 0 0 auto;
    width: 38%;
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 600px) {
      .header__nav {
        display: none; } }
    .header__nav-links {
      text-decoration: none;
      color: #ffffff;
      transition: all 0.5s; }
      .header__nav-links:hover {
        color: #FDDF01; }
  .header__signin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    width: 8rem; }

.ad-img {
  position: absolute;
  top: -0.05rem;
  left: 0;
  z-index: -5000;
  width: 100vw;
  user-select: none; }
  .ad-img > * {
    width: 100%;
    height: 100vh; }

.cta {
  color: #ffffff;
  padding: 18vh 4.1rem;
  height: 88vh; }
  @media screen and (max-width: 600px) {
    .cta {
      height: 90vh;
      position: relative; }
      .cta > * {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); } }

.about {
  height: 53.7rem;
  position: relative; }
  @media screen and (max-width: 800px) {
    .about {
      height: 70rem; } }
  .about__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    @media screen and (max-width: 992px) {
      .about__container {
        width: 100%;
        padding: 0 4.4rem; } }
    @media screen and (max-width: 800px) {
      .about__container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .about__container > * {
      flex: 0 0 auto; }
      @media screen and (max-width: 992px) {
        .about__container > * {
          width: 50%; } }
      @media screen and (max-width: 800px) {
        .about__container > * {
          width: 80%; } }
      @media screen and (max-width: 600px) {
        .about__container > * {
          width: 100%; } }
  .about-homely {
    width: 38.1rem; }
    @media screen and (max-width: 992px) {
      .about-homely {
        width: 45%; } }
    @media screen and (max-width: 800px) {
      .about-homely {
        width: 80%; } }
    @media screen and (max-width: 600px) {
      .about-homely {
        width: 100%; } }

.section3 {
  position: relative;
  height: 27rem;
  color: #ffffff;
  width: 100%; }
  @media screen and (max-width: 600px) {
    .section3 {
      height: 50rem; } }
  .section3__bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -50;
    height: 100%; }
    @media screen and (max-width: 1200px) {
      .section3__bg {
        width: 100%; } }
  .section3__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90.2rem; }
    @media screen and (max-width: 1200px) {
      .section3__container {
        width: 95%; } }
    @media screen and (max-width: 600px) {
      .section3__container {
        flex-wrap: wrap; } }
    .section3__container-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 18.3rem; }
      @media screen and (max-width: 600px) {
        .section3__container-child {
          width: 50%;
          height: 17rem; } }

.property {
  padding: 4.4rem; }
  @media screen and (max-width: 992px) {
    .property {
      padding: 2rem; } }
  .property__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90rem;
    margin: 0 auto; }
    @media screen and (max-width: 1200px) {
      .property__images {
        width: 100%; } }
    @media screen and (max-width: 600px) {
      .property__images {
        flex-direction: column; } }
    @media screen and (max-width: 992px) {
      .property__images > * {
        width: 30%; } }
    @media screen and (max-width: 600px) {
      .property__images > * {
        width: 100%;
        height: 30rem;
        margin-bottom: 3rem; } }

.cta-header {
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 5.4rem;
  width: 45.7rem; }
  @media screen and (max-width: 600px) {
    .cta-header {
      width: 100%; } }

.cta-text {
  font-weight: 400;
  line-height: 2.4rem;
  width: 39.5rem;
  margin-top: 5vh; }
  @media screen and (max-width: 600px) {
    .cta-text {
      width: 100%; } }

.about-header {
  font-size: 1.8rem;
  color: #1A4BA5;
  line-height: 2.7rem;
  display: block; }

.about-sub-header {
  font-weight: 600;
  font-size: 2.5rem;
  width: 100%;
  line-height: 3.7rem;
  margin-top: 4px; }

.about-text {
  width: 100%;
  color: #4b4a4a;
  margin-top: 1.4rem; }

.numberOf {
  font-size: 2.2rem;
  font-weight: 550;
  line-height: 33px; }

.property-header {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center; }

.property-sub-header {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  color: #4b4a4a;
  margin-top: 1.3rem;
  margin-bottom: 4rem; }
