$color-primary: #ffffff;
$color-secondary: #0F101F;
$color-tetiary: #1D2648;
$color-skyblue: #1A4BA5;
$text-color: #000000;
$color-yellow: #FDDF01;
$color-grey: #4b4a4a;


$font-family: "Poppins", sans-serif;

$default-padding: 4.1rem;
